body.page-node-type-contact-us{

  .block-field-blocknodecontact-usbody div.text-formatted{
    display: flow-root;
  }

  h1 {
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: -2px;
    margin-bottom: 50px;

    span {
      position: relative;
      &:after {
        content: "";
        position: absolute;
        height: 5px;
        background-color: #ced4da;
        width: 43%;
        bottom: -15px;
        left: 29%;
      }
    }
  }
  .block-webform-block{

    float: left;
    margin-left: 158px;

    input:not([type="submit"]),
    textarea{
      width: 460px;
      height: 50px;
    }
    textarea{
      height: 200px;
    }
  }

  .webform-button--submit{
    background-color: #e03114;
    text-transform: uppercase;
    width: 190px;
    height: 60px;
  }

  .block-field-blocknodecontact-usfield-contactus-map iframe{
    margin: 20px;
  }

  .block-field-blocknodecontact-usbody div.field__item{
    margin-top: 20px;
    margin-left: 635px;
    padding: 12px 4px;
    line-height: 1.6;

    h4{
      text-transform: uppercase;
      font-size: 1.2em;
      letter-spacing: -0.5px;
      margin: 0;
    }
    p{
      margin: 0;
      font-family: 'LatoWeb';
    }
    a{
      text-decoration: none;
      color: black;
      cursor: pointer;
    }
  }
}
