footer{
  background-color: $darkblue;
  height: 196px;
}
footer .region-footer{
  width: $wrap+50px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .site-title{
    color: $blue;
  }
  .site-slogan{
    color: white;
  }
  .social-media-links--platforms > li > a{
    color: $blue;
  }
  .block-system-branding-block{
    margin-top: 44px;
    margin-left: 27px;
    .site-slogan{
      margin-top: -7px;
      letter-spacing: 0.8px;
    }
  }
  .block-social-media-links-block{
    margin-top: 55px;
  }
}
