.region-nav-main {
  ul {
    display: flex;
    gap: 9px;

    li {
      padding: 41px 0;

      a {
        margin: auto;
        text-transform: uppercase;
        color: black;
        text-decoration: none;
        position: relative;
        padding: 0;
        height: 32px;
        font-size: 14px;
        padding-top: 7px;

        &:hover {
          &:after {
            content: '';
            width: 100%;
            height: 8px;
            position: absolute;
            background-color: $blue;
            bottom: -42px;
            left: 0;
          }
        }
      }

      .field__label {
        display: none;
      }

      &:first-child {
        a {
          font-size: 0;
          background-image: url("../images/Homepage-menu.png");
          background-repeat: no-repeat;
          width: 28px;
          height: 32px;
          margin-right: 14px;
        }
      }
    }
  }
}

.navbar-brand .site-title {
  font-size: 1.76rem;
  text-transform: capitalize;
  font-family: 'Nexa Slab';
}

.region-nav-additional {
  display: flex;
}

.navbar-collapse {
  background-color: white;
  padding: 0 30px;
  justify-content: space-between !important;
}

.region-nav-branding {
  display: flex;
  align-items: center;
  height: 115px;
  padding: 30px 38px;
  width: 240px;
  background-color: $darkblue;

  .navbar-brand {
    text-align: center;
    margin: 0;

    a.site-title {
      color: $blue;
      line-height: 2px;
    }
  }

  .site-slogan {
    font-size: 15px;
    color: white;
    letter-spacing: 0.3px;
    font-weight: 300;
  }
}

.h-100 {
  height: auto !important;
}

header {
  width: 100%;
  background-image: url("../images/header.png");
  background-repeat: repeat-x;
  height: 710px;
  position: relative;
  background-position: -7px 8px;
  &:before{
    content: "";
    background-color: #CDD8C7;
    height: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  .navbar {
    display: block;
    width: $wrap;
    margin: auto;
    margin-top: 48px;
    padding: 0 10px;

    .region-nav-main {

      ul a {
        color: black !important;
      }
    }
    > div {
      display: flex;
      justify-content: space-between;
      -webkit-box-shadow: 0px 10px 25px -15px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 10px 25px -15px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 10px 25px -15px rgba(0, 0, 0, 0.75);
    }
  }

  .creativity {
    position: absolute;
    top: 360px;
    left: 447px;
    width: 350px;

    p {
      margin: 0;
      padding: 0;
      text-transform: uppercase;

      &:first-child {
        color: white;
        font-size: 70px;
        height: 73px;
        font-weight: 300;
        letter-spacing: -1px;
      }

      &:nth-child(2) {
        color: $darkblue;
        font-size: 41px;
        height: 53px;
      }

      &:nth-child(3) {
        color: $blue;
        font-size: 14px;
        line-height: 18px;
      }
    }
  }
}

.navbar .block-views-exposed-filter-blocksearch-page-page-1 form {
  text-align: left;
}

#block-sociallinks {
  //margin-right: 14px;
  padding: 4px 0;
  margin: auto 14px auto 0;
}

.navbar .block-views-exposed-filter-blocksearch-page-page-1 form .form-actions {
  margin-left: 0;
}

.text-formatted {
  display: flex;
  justify-content: space-between;
  gap: 11px;
}

.block-views-exposed-filter-blocksearch-page-page-1 {
  margin: 0;
  padding: 0;

  label {
    display: none;
  }

  form#views-exposed-form-search-page-page-1 {
    div.form--inline,
    div.form-actions{
      display: flex;

      .form-type-textfield {
        margin: auto 0;
      }
    }
    .js-form-type-textfield{
      margin: auto;
    }
    #block-sociallinks{
      margin: auto;
    }
  }

input, div#edit-actions--3, div#edit-actions--2, div#edit-actions--1 {
  margin: 0;
  border-radius: 0;
  height: 39px;
}

input {
  width: 173px;
}

div#edit-actions--3,
div#edit-actions,
div#edit-actions--2,
div#edit-actions--1{
  input {
    background-color: transparent;
    border: 1px solid $silver;
    border-left: none;
    width: 37px;
    background-image: url("../images/lupa.png");
    background-position: center;
    padding: 0;
    font-size: 0;

    &:hover {
      background-size: 36px;
    }
  }
}

}
