// Added mixin for lines around every title like "Services" etc.
body.path-frontpage {
  h2 {
    text-align: center;
    @include before-after-for-h ;
  }
}

// Styles for Services Block on
.block-views-blockservises-block-1 {
  margin-bottom: 107px;
  margin-top: 92px;

  .view-content {
    text-align: center;
    text-transform: uppercase;

    div:nth-child(2) {
      margin-right: 13px;
    }

    div:nth-child(3) {
      margin-right: 5px;
    }

    .views-row:first-child .views-field {
      margin-right: 27px;
    }

    .views-field-field-servise-image {
      img {
        display: block;
        margin: 10px auto;
      }
    }

    .views-field-title {
      margin-top: $gutter;
      font-size: 1.5em;
      font-weight: 300;
      letter-spacing: -1.5px;
    }

    .views-field-body {
      color: $graytext;
      font-size: 12px;
      font-weight: 400;
      margin-top: 5px;
      padding: 0px 10px;
    }

    .views-field-view-node {
      margin-top: 27px;

      a {
        text-decoration: none;
        padding: 7px;
        background-color: $blue;
        color: white;
        font-weight: 300;
      }
    }
  }
}

// Styles for Projects Block on
.block-views-blockproject-block-1 {
  position: relative;
  @include background-45deg-lines;

  > h2 {
    font-size: 28px;
    letter-spacing: -1.5px;
    margin-left: 15px;
    margin-top: 104px;
    font-weight: 300;
  }

  .view-content {
    justify-content: space-between;
    margin-top: 89px;

    .views-row {
      background-color: white;
      text-align: center;
      text-transform: uppercase;
      height: 443px;
      border-bottom: 1px solid $darkblue;
      -webkit-box-shadow: 5px 5px 12px 0px rgba(189, 189, 189, 0.7);
      -moz-box-shadow: 5px 5px 12px 0px rgba(189, 189, 189, 0.7);
      box-shadow: 5px 5px 12px 0px rgba(189, 189, 189, 0.7);

      a {
        text-decoration: none;
      }

      .views-field-title {
        font-size: 1.6em;
        color: $darkblue;
        font-weight: 300;
        margin-top: 31px;
      }

      .views-field-term-node-tid {
        font-weight: 400;
      }

      .views-field-view-node {
        margin-top: $gutterS;

        a {
          padding: 8px;
          background-color: $darkblue;
          color: white;
          font-weight: 300;
        }
      }

      .views-field-term-node-tid a[href^='/web'] {
        color: #1bbc9b;
      }

      .views-field-term-node-tid a[href^='/php'] {
        color: #9b58b5;
      }

      .views-field-term-node-tid a[href^='/app'] {
        color: #32ade1;
      }

      .views-field-term-node-tid a[href^='/drupal'] {
        color: #e84c3d;
      }
    }
  }

  nav {
    margin-top: -55px;

    .page-link {
      border: 0px;
      border-top-left-radius: 50% !important;
      border-bottom-left-radius: 50% !important;
      color: $darkblue !important;
    }

    li.is-active a, li.active a {
      background-color: #dddcdd !important;
      border-color: #dddcdd !important;
      border-radius: 50%;
    }

    ul.pagination {
      gap: 10px;
    }

    ul a {
      background-color: transparent;
      color: black;

      &:hover {
        z-index: 2;
        background-color: $silver;
        border-color: $silver;
        border-radius: 50%;
      }
    }
  }
}

// Styles for Block with team members
.block-views-blockour-team-block-1 {
  margin-top: 227px;

  .view-content {
    margin-top: 32px;
    justify-content: space-between;
    text-transform: uppercase;

    .views-row {
      text-align: center;
    }

    .views-field-title {
      margin-top: 31px;

      a {
        text-decoration: none;
        color: $darkblue;
        font-size: 25px;
        letter-spacing: -2px;
        font-family: "Montserrat", sans-serif;
      }
    }

    .views-field-body {
      margin-top: -5px;

      div {
        font-size: 12px;
        color: $graytext;
      }
    }

    .views-field-view-node {
      margin-top: 18px;

      a {
        background-color: $darkblue;
        padding: 7px;
        font-size: 14px;
        text-decoration: none;
        color: white;
      }
    }

    .views-field-field-social-media-links {
      float: left;
      padding: 22px;
      margin-left: $gutterS;

      ul {
        font-size: 0.8em;
      }
    }

    .views-field-link-flag {
      margin-top: 25px;

      a {
        font-size: 16px;
        color: $graytext;

        i.fa {
          color: lightcoral;
        }
      }

      .ajax-progress {
        display: none;
      }
    }
  }

}

//Styles for News block
.block-views-blocknews-block-1 {
  margin-top: 163px;
  position: relative;
  margin-bottom: 97px;

  &:after {
    content: "";
    background-image: url(../images/bc_proj.jpg);
    position: absolute;
    width: 154%;
    top: 62px;
    left: -27%;
    height: 102%;
    opacity: 0.35;
    z-index: -2;
  }

  .form--inline {
    display: flex;
    justify-content: flex-start;
    margin-top: 40px;

    div {
      margin: 0;
    }

    input[type="text"] {
      width: 340px;
      margin-right: 5px;
    }
  }

  .view-content {
    margin-top: 10px;
    gap: $gutterS;

    .views-row {
      background-color: white;
      padding: $gutterS;
      text-transform: uppercase;
      position: relative;
      width: 50%;
      height: 295px;
    }

    .views-field-field-author-image,
    .views-field-field-seat,
    .views-field-field-author-name,
    .views-field-field-profession {
      float: left;
      font-size: 12px;
      margin: 0px 3px;
    }

    .views-field-created-1 {
      text-align: right;
      font-size: 12px;
      color: $graytext;
      font-family: 'LatoWeb';
    }

    .views-field-created {
      float: left;
      margin-right: $gutterS;
      position: relative;
      margin-top: -3px;

      .field-content {
        display: flex;
        flex-direction: column;

        span {
        }

        .month {
          text-transform: uppercase;
          font-size: 26px;
          color: $darkblue;
          font-family: 'LatoWeb';
          font-weight: 300;
        }

        .day {
          font-size: 47px;
          margin-top: -24px;
          font-weight: 600;
          color: $blue;
        }

        .year {
          text-align: center;
          color: $graytext;
          margin-top: -17px;

        }
      }
    }

    .views-field-field-author-image {
      img {
        width: 80px;
        height: 80px;
      }
    }

    .views-field-title {
      clear: both;
      margin-top: 74px;

      span {
        text-decoration: none;
        color: $darkblue;
        font-size: 26px;
        margin-left: 8px;
        letter-spacing: -0.2px;
      }
    }

    .views-field-body {
      margin-top: -10px;
      padding-top: 6px;

      p {
        margin: 0;
        font-size: 12px;
        line-height: 1.2;
        margin-top: 9px;
        margin-left: 9px;
        text-align: justify;
        letter-spacing: -1.1px;
      }
    }

    .views-field-title,
    .views-field-body,
    .views-field-view-node {
      margin-left: 71px;
      border-left: 1px solid $silver;
      padding-left: 10px;
    }

    .views-field-field-author-image {
      border-left: 1px solid $silver;
      padding-left: 19px;
      margin-left: -2px;
      margin-top: 4px;
    }

    .views-field-field-seat {
      color: $graytext;
    }

    .views-field-field-author-name {
      color: $darkblue;

    }

    .views-field-field-profession {
      color: $blue;
      position: relative;

      .field-content {
        margin-left: 2.5px;
      }

      &:before {
        content: '/';
        float: left;
        position: absolute;
        left: -5px;
      }
    }

    .views-field-view-node {
      text-align: right;
      padding-top: 14px;
      padding-right: 2px;
      margin-right: 4px;

      a {
        text-decoration: none;
        padding: 7px 10px;
        background-color: $blue;
        color: white;
        font-size: 14px;
        font-weight: 300;
      }
    }
  }
}

//Styles Clients Block
.block-views-blockclients-block-1 {
  margin-bottom: 170px;
}

body.path-search-page {

  @include page-title;

  .view-content {
    justify-content: space-between;
    gap: 40px;
    flex-direction: column;

    .views-field-title {
      margin: 10px 0;

      span {
        text-decoration: none;
        text-transform: uppercase;
        color: black;
        font-size: 1.6em;
        font-weight: bold;
      }
    }

    .views-field-body {
      font-size: 1em;
      color: black;
      line-height: 1.3em;
      p, h4{
        margin: 0;
      }
      h4{
        font-size: 1em;
        font-weight: normal;
      }
    }

    .views-field-view-node {
      margin: 10px 0;
      text-align: right;

      span {
        background-color: $blue;
        padding: 5px;

        a {
          text-decoration: none;
          text-transform: uppercase;
          color: white;
          font-size: 1em;
        }
      }
    }

  }
}
