body.page-node-type-paragraph-lending-page{
  .flexslider{
    width: 40%;
    margin: auto;
    margin-bottom: 60px;

    ul.flex-direction-nav > li > a{
      height: 10%;
    }
  }

  @include page-title;

  .node__content{
    text-align: center;

    margin-top: 30px;

    strong{
      font-size: 2em;
    }

    .field-suffix{
      .form-control{
        width: 4em;
      }
    }

    .field--name-field-form-feedback{
      width: 50%;
      margin: auto;
      text-align: initial;
    }

  }

}
