main{
  margin: $gutterS 0;
}
.region-content{
  width: $wrap;
  margin: 0 auto;
}
h2{
  text-transform: uppercase;
}
.view-content{
  display: flex;
  margin: 82px 0;
}

.views-field-view-node{
  span:hover{
    opacity: 0.8;
    transform: scale(1.1);
  }
}
