@mixin before-after-for-h {
  position: relative;
  overflow: hidden;
  &:after,
  &:before {
    content: "";
    position: absolute;
    width: 43.5%;
    height: 1px;
    top: 25px;
    background-color: $graytext;
    opacity: 0.6;
  }
  &:before {
    left: 0;
  }
  &:after {
    right: 0;
  }
}
