body.path-projects{

  @include page-title;

  .view-project{
    text-align: center;
    .view-content{
      margin: 50px 0;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 55px;
      .views-row {
        background-color: white;
        text-align: center;
        text-transform: uppercase;
        height: 100px;
        border-bottom: 1px solid $darkblue;
        -webkit-box-shadow: 0px 5px 15px -10px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 5px 15px -10px rgba(0,0,0,0.75);
        box-shadow: 0px 5px 15px -10px rgba(0,0,0,0.75);

        a {
          text-decoration: none;
        }
        .views-field-field-image{
          margin-top: $gutter;
        }
        .views-field-title {
          font-size: 1.3em;
          color: $darkblue;
          font-weight: 300;
          margin-top: 10px;
        }

        .views-field-term-node-tid {
          font-weight: 400;
          a{
            font-size: 0.9em;
          }
        }

        .views-field-view-node {
          margin-top: $gutterS;

          a {
            padding: 7px;
            background-color: $darkblue;
            color: white;
            font-weight: 300;
            font-size: 0.85em;
          }
        }

        .views-field-term-node-tid a[href^='/web'] {
          color: #1bbc9b;
        }

        .views-field-term-node-tid a[href^='/php'] {
          color: #9b58b5;
        }

        .views-field-term-node-tid a[href^='/app'] {
          color: #32ade1;
        }

        .views-field-term-node-tid a[href^='/drupal'] {
          color: #e84c3d;
        }
      }
    }
  }
}
body.page-node-type-projects{

  @include page-title;

  .region-content{
    width: 1470px;
    margin: 0;
    margin-left: auto;
  }

  .region-sidebar-second{

    text-align: center;

    h2{
      font-size: 1.4em;
    }

    .view-content{
      justify-content: center;

      .views-row{
        margin: 10px auto;
        .views-field-title{
          text-align: center;
          margin: $gutter auto 0;

          span{
            background-color: $blue;
            border-radius: 10px;
            padding: 5.55px;
            &:hover{
              transform: scale(1.1);
              border: 1px solid $blue;
            }
          }
          a{
            text-decoration: none;
            text-transform: uppercase;
            font-size: 1em;
            color: white;
          }
        }
      }
    }
  }

  nav.pager{
    li.pager__item{
      a{
        text-decoration: none;
        color: black;
        font-weight: bold;
      }
    }
  }



  .node__content{
    margin: $gutter 0;
    position: relative;
    .text-formatted{
      text-align: justify;
      font-size: 1.2em;
      color: $darkblue;
    }

    img{
      float: left;
      margin-right: $gutter;
      margin-bottom: $gutterX;
    }
  }

  .block-field-blocknodeprojectsfield-servise{
    .field{
      position: absolute;
      top: 310px;
      a{
        text-decoration: none;
        text-transform: uppercase;
        color: $blue;
        font-size: 1.5em;

      }
    }
    .field--type-entity-reference a[href^='/web'] {
      color: #1bbc9b;
    }

    .field--type-entity-reference a[href^='/php'] {
      color: #9b58b5;
    }

    .field--type-entity-reference a[href^='/app'] {
      color: #32ade1;
    }

    .field--type-entity-reference a[href^='/drupal'] {
      color: #e84c3d;
    }
  }
}
