body.path-services {

  @include page-title;

  .view-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $gutter;
    text-align: center;
    .views-row{
      border-bottom: 2px solid $blue;
      padding: 0 20%;
    }
    .views-field-title{
      font-size: 1.3em;
      padding: 20px;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 1.4px;
    }

    .views-field-body{
      text-align: justify;
    }

    .views-field-view-node{
      a{
        text-decoration: none;
        background-color: $blue;
        padding: 7px 10px;
        font-weight: 300;
        color: white;
      }
      margin: $gutter 0;
    }
  }
}

body.page-node-type-servises{

  @include page-title;

  .node__content{
    margin-top: $gutter;
    text-align: center;
    .text-formatted {
      padding: 3% 15%;
      text-align: justify;
      display: block;
      font-size: 1.3em;
    }
  }

}

