// Sub theme styling.
@import 'variables_drupal';

// Bootstrap overriden variables.
// @see https://getbootstrap.com/docs/5.2/customize/sass/#variable-defaults.
@import 'variables_bootstrap';

// Fonts !
@import "lato.scss";
@font-face {
  font-family: 'Nexa Slab';
  src: local('Nexa Slab Regular'), local('Nexa-Slab-Regular'),
  url('../fonts/NexaSlab-Regular.woff2') format('woff2'),
  url('../fonts/NexaSlab-Regular.woff') format('woff'),
  url('../fonts/NexaSlab-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

// My style-files
@import "variables";
@import "mixins.scss";
@import "header.scss";
@import "footer.scss";
@import "main.scss";
@import "projects.scss";
@import "contact.scss";
@import "about.scss";
@import "homepage.scss";
@import "services.scss";
@import "ourteam.scss";
@import "news.scss";
@import "clients.scss";

//Adaptive
@import "adaptive2560.scss";
@import "adaptive1920.scss";
@import "adaptive1440.scss";
@import "adaptive1024.scss";
@import "adaptive990.scss";
@import "adaptive768.scss";
@import "adaptive550.scss";
@import "adaptive425.scss";


body{
  color: black;
}
