// Sub theme styling.
@import 'variables_drupal';

// Bootstrap overriden variables.
// @see https://getbootstrap.com/docs/5.2/customize/sass/#variable-defaults.
@import 'variables_bootstrap';


body{
  color: black;
}
h2{
  font-weight: 100;
  font-size: 50px;
}
